/* React-PDF styling */
.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 1em;
}

.react-pdf__Page__canvas {
  display: block;
  user-select: none;
}

.react-pdf__Page__textContent {
  border: 1px solid transparent;
  box-sizing: border-box;
  color: transparent;
  cursor: text;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
  user-select: text;
}

.react-pdf__Page__textContent span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.react-pdf__Page__annotations {
  border: 1px solid transparent;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
}

.react-pdf__Page__annotations .linkAnnotation {
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
}

.react-pdf__Page__annotations .linkAnnotation:hover {
  background: rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(255, 255, 0, 0.4);
}

.react-pdf__message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.react-pdf__message--loading {
  color: #999;
}

.react-pdf__message--no-data {
  color: #666;
}

.react-pdf__message--error {
  color: #f56565;
}
